
[workspace]
members  = ["crates/*"]
resolver = "2"

[workspace.dependencies]
html5ever = "0.27.0"
indexmap  = "2.2.6"

[profile.release]
codegen-units = 1
lto           = "fat"
opt-level     = 3
panic         = "abort"
strip         = "symbols"
